<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchaser detail Portal</title>
    <style>
        #Add:checked ~ .Add{
            display: block;
        }
        #Remove:checked ~ .Remove{
            display: block;
        }
    </style>
</head>
<body background="\static\users.png">
<form style="width:450px; margin-left:40%;margin-top:3%; background-color: rgba(245, 245, 245, 0.9);" action = "http://localhost:5000/signup" method = "post">

        <br/><center><div style="text-align:center" class=""WelcomeMessage>

            <h1>Purchaser detail Portal</h1></div>

        <h1>Register for New Purchaser</h1>
        <!-- <h3>Add/Remove</h3>
        <label for="select">Choose a Action:</label>
        <select id="selectField">
            <option type="radio" value="Add" id="Add">Add User</option>
            <option type="radio" value="Remove" id="Remove">Remove User</option>
        </select 
        <div id="Add" class="content">
            <h3>Enter Purchaser Name</h3>
            <input type="text" name="Name" placeholder="Enter Purchaser name">
            <h3>Enter Purchaser ID</h3>
            <input type="text" name="UserName" placeholder="Enter a Purchaser ID">
            <h3>Email Id</h3>
            <input type="text" name="email" placeholder="Enter a Purchaser email Id">
            <br> <br>
        </div>

        <div id="Remove" class="content">
            <h3>Enter Purchaser Name</h3>
            <input type="text" name="Name" placeholder="Enter Purchaser name">
            <h3>Enter Purchaser ID</h3>
            <input type="text" name="UserName" placeholder="Enter a Purchaser ID">
        </div>
        </div>
        <br> <button type="submit" name="submit" class="submit" value="submit">Submit</button> <br>
        </div> -->

        <input type="radio" name="action" value="Add" id="Add"><label for="Add">Add</label>
        <input type="radio" name="action" value="Remove" id="Remove"><label for="Remove">Remove</label>
        <div class="Add" hidden>
        <h3>Enter Rfid id</h3>
         <input type="text" name="Name" placeholder="Enter User id">
            <h3>Enter User name</h3>
         <input type="text" name="UserName" placeholder="Enter User name">
        <h3>Enter Email id</h3>
         <input type="text" name="email" placeholder ="Enter email id">
         <h3>Enter User address</h3>
         <input type="text" name="Name" placeholder="Enter User address">
         <h3>Enter Telephone No</h3>
         <input type="text" name="Name" placeholder="Enter Telephone">
         <br> <br> 
        </div>
        <div class="Remove" hidden> 
            <h3>Enter Purchaser Name</h3>
             <input type="text" name="Name" placeholder="Enter Purchaser name">
                <h3>Enter Purchaser ID</h3>
             <input type="text" name="UserName" placeholder="Enter a Purchaser ID">
        </div>
    </div>
    
    <br> <button type="submit" name="submit" class="submit" value="submit">Submit</button> <br>
        </div>
        <br> <br> 
    </center>
    </form>

    <script src="vendors/js/show_hide.js"></script>
</body>
</html>